@use "../../styles/foundations/breakpoints.scss" as *;
@use "../../styles/foundations/colors.scss" as *;

.card {
	box-shadow: 0px 1px 4px transparentize(color(mocha, 80), 0.85);
	border-radius: 3px;
	display: grid;
	align-content: space-evenly;

	h2 {
		margin-block-start: 0em;
		margin-block-end: 0em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}

	p {
		margin-block-start: 0em;
		margin-block-end: 0em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		margin: 6px 0px;
	}

	&--xl {
		height: max-content;
		width: -webkit-fill-available;
	}
	&__list {
		padding-top: 20px;
		display: flex;
		flex-direction: column;
		flex-shrink: 1;
		justify-content: center;
		align-items: flex-start;
		list-style-type: none;
		margin-block-start: 0em;
		margin-block-end: 0em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		padding-inline-start: 0px;
		&--bullet {
			list-style-type: disc;
			margin-block-start: 1em;
			margin-block-end: 1em;
			padding-inline-start: 40px;
		}
		li {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			> * {
				margin-bottom: 16px;
			}
		}
		li:nth-child(2) {
			border-top: color(mocha, 20) 1px solid;
			> * {
				margin-top: 16px;
				margin-bottom: 0px;
			}
		}
	}
}
