@use "../../styles/foundations/breakpoints.scss" as *;

.data-card {
	grid-column: 1 / span 2;
	.card-body {
		display: grid;
		grid-template-columns: 2.3fr 1fr;
		grid-template-rows: 1.5fr;
		grid-auto-flow: row;
		grid-template-areas: "chart compared-movies";

		@media (max-width: getBreakpoint(sm, max)) {
			grid-template-columns: 1fr;
			grid-auto-flow: row;
			grid-template-areas: "chart" "compared-movies";
		}
	}

	.chart {
		grid-area: chart;
	}

	.compared-movies {
		grid-area: compared-movies;
	}

	.card-header {
		display: grid;
		grid-template-columns: 1.5fr 1.5fr;
		grid-template-rows: 1.5fr 1.5fr;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas:
			"section-title average-sales-location"
			"chart-title all-sales";
		.section-title {
			grid-area: section-title;
		}
		.chart-title {
			grid-area: chart-title;
		}
		.average-sales-location {
			grid-area: average-sales-location;
			text-align: end;
		}
		.all-sales {
			grid-area: all-sales;
			text-align: end;
		}

		@media (max-width: getBreakpoint(sm, max)) {
			grid-auto-flow: column !important;
			grid-template-rows: 1fr 1fr !important;
			width: 100%;
			grid-template-areas:
				"section-title"
				"average-sales-location"
				"chart-title all-sales" !important;
		}
	}

	.card-footer {
		display: flex;
		justify-content: space-between;

		@media (max-width: getBreakpoint(sm, max)) {
			flex-direction: column;
		}
	}
}
